---
import Page from "@/layouts/Page.astro";
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";

import MaterialList from "@/components/MaterialList.astro";
import { getMaterials } from "@/utils/getMaterials";
import { getFileIcon } from "@/utils/getIcon";
const materials = getMaterials();

function getDayMaterial(level: string, date: string) {
  return materials?.[level]?.[date] ?? null;
}

const horarios = [
  {
    actividad: "Upsolving",
    horario_inicial: "09:00 - 10:00",
    horario_avanzado: "09:00 - 10:20",
  },
  {
    actividad: "Clase",
    horario_inicial: "10:00 - 10:45",
    horario_avanzado: "10:20 - 11:05",
  },
  {
    actividad: "Descanso - Coffee break",
    horario_inicial: "10:45 - 11:15",
    horario_avanzado: "11:05 - 11:35",
  },
  {
    actividad: "Clase",
    horario_inicial: "11:15 - 12:30",
    horario_avanzado: "11:35 - 12:30",
  },
  {
    actividad: "Almuerzo",
    horario_inicial: "12:30 - 13:30",
    horario_avanzado: "12:30 - 13:30",
  },
  {
    actividad: "Contest",
    horario_inicial: "13:30 - 18:30",
    horario_avanzado: "13:30 - 18:30",
  },
];

const itinerarioInicial = [
  {
    dia: "Martes 22",
    tema: "Introducción a C++",
    profesor: "Ignacio Muñoz",
    material: getDayMaterial("inicial", "2025-07-22"),
  },
  {
    dia: "Miércoles 23",
    tema: "Sorting, greedy y búsqueda binaria",
    profesor: "Blaz Korecic",
    material: getDayMaterial("inicial", "2025-07-23"),
  },
  {
    dia: "Jueves 24",
    tema: "Estructuras de la librería estándar",
    profesor: "Javiera León",
    material: getDayMaterial("inicial", "2025-07-24"),
  },
  {
    dia: "Viernes 25",
    tema: "Programación dinámica",
    profesor: "Blaz Korecic",
    material: getDayMaterial("inicial", "2025-07-25"),
  },
  {
    dia: "Sábado 26",
    tema: "Resolución de problemas",
    profesor: "Javiera León",
    material: getDayMaterial("inicial", "2025-07-26"),
  },
  { dia: "Domingo 27", tema: "BREAK", profesor: null, material: null },
  {
    dia: "Lunes 28",
    tema: "Grafos 1",
    profesor: "Benjamin Letelier",
    material: getDayMaterial("inicial", "2025-07-28"),
  },
  {
    dia: "Martes 29",
    tema: "Brute force y matemáticas",
    profesor: "Abner Vidal",
    material: getDayMaterial("inicial", "2025-07-29"),
  },
  {
    dia: "Miércoles 30",
    tema: "Resolución de Problemas",
    profesor: "Marcelo Lemus",
    material: getDayMaterial("inicial", "2025-07-30"),
  },
  {
    dia: "Jueves 31",
    tema: "Grafos 2",
    profesor: "Benjamin Letelier",
    material: getDayMaterial("inicial", "2025-07-31"),
  },
  {
    dia: "Viernes 1",
    tema: "Cierre",
    profesor: "Por Confirmar",
    material: getDayMaterial("inicial", "2025-08-01"),
  },
];

const itinerarioAvanzado = [
  {
    dia: "Martes 22",
    tema: "Búsqueda binaria avanzada",
    profesor: "Enzo Vivallo",
    material: getDayMaterial("avanzado", "2025-07-22"),
  },
  {
    dia: "Miércoles 23",
    tema: "Segment Tree",
    profesor: "Enzo Vivallo",
    material: getDayMaterial("avanzado", "2025-07-23"),
  },
  {
    dia: "Jueves 24",
    tema: "Hashing y prefix function",
    profesor: "Carlos Lagos",
    material: getDayMaterial("avanzado", "2025-07-24"),
  },
  {
    dia: "Viernes 25",
    tema: "Programación dinámica",
    profesor: "Gabriel Carmona",
    material: getDayMaterial("avanzado", "2025-07-25"),
  },
  {
    dia: "Sábado 26",
    tema: "Resolución de problemas",
    profesor: "Carlos Lagos",
    material: getDayMaterial("avanzado", "2025-07-26"),
  },
  { dia: "Domingo 27", tema: "BREAK", profesor: null, material: null },
  {
    dia: "Lunes 28",
    tema: "LCA y Binary Lifting",
    profesor: "Marcelo Lemus",
    material: getDayMaterial("avanzado", "2025-07-28"),
  },
  {
    dia: "Martes 29",
    tema: "Convoluciones y FFT",
    profesor: "Gabriel Carmona",
    material: getDayMaterial("avanzado", "2025-07-29"),
  },
  {
    dia: "Miércoles 30",
    tema: "Resolución de problemas",
    profesor: "Abner Vidal",
    material: getDayMaterial("avanzado", "2025-07-30"),
  },
  {
    dia: "Jueves 31",
    tema: "Grafos y flujos",
    profesor: "Marcelo Lemus",
    material: getDayMaterial("avanzado", "2025-07-31"),
  },
  {
    dia: "Viernes 1",
    tema: "Cierre",
    profesor: "Por Confirmar",
    material: getDayMaterial("avanzado", "2025-08-01"),
  },
];
---

<Page title="Schedule">
  <div class="not-prose">
    <h1 class="text-3xl font-bold mb-6">Cronograma</h1>

    <h2 class="text-2xl font-semibold mb-4">Horario de actividades</h2>
    <Table>
      <TableCaption>Horario de actividades diarias</TableCaption>
      <TableHeader>
        <TableRow>
          <TableHead>Actividad</TableHead>
          <TableHead>Hora Inicial</TableHead>
          <TableHead>Hora Avanzado</TableHead>
        </TableRow>
      </TableHeader>
      <TableBody>
        {
          horarios.map((dia) => (
            <TableRow>
              <TableCell>{dia.actividad}</TableCell>
              <TableCell>{dia.horario_inicial}</TableCell>
              <TableCell>{dia.horario_avanzado}</TableCell>
            </TableRow>
          ))
        }
      </TableBody>
    </Table>

    <p class="mt-4 text-sm">
      El primer dia martes 22 de julio las actividades iniciaran a las 8:30 para
      la entrega de credenciales y acreditación.
    </p>

    <p class="mt-4 text-sm">
      El tercer dia jueves 24 de julio el upsolving de ambos niveles basico y
      avanzado finalizarán a las 10:00, donde se tomarán la foto oficial del
      campamento.
    </p>

    <p class="mt-4 text-sm">
      El último dia viernes 1 de agosto las actividades finalizarán a las 13:30
      después del almuerzo.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-4">Nivel Inicial</h2>
    <Table>
      <TableCaption>Itinerario del nivel inicial.</TableCaption>
      <TableHeader>
        <TableRow>
          <TableHead>Día</TableHead>
          <TableHead>Tema</TableHead>
          <TableHead>Profesor</TableHead>
          <TableHead className="text-center">Material</TableHead>
        </TableRow>
      </TableHeader>
      <TableBody>
        {
          itinerarioInicial.map((dia) => (
            <TableRow>
              <TableCell>{dia.dia}</TableCell>
              <TableCell>{dia.tema}</TableCell>
              <TableCell>{dia.profesor}</TableCell>
              <TableCell className="text-center">
                {dia.material && dia.material.length > 0 && (
                  <MaterialList files={dia.material} />
                )}
              </TableCell>
            </TableRow>
          ))
        }
      </TableBody>
    </Table>

    <h2 class="text-2xl font-semibold mt-8 mb-4">Nivel Avanzado</h2>
    <Table>
      <TableCaption>Itinerario del nivel avanzado.</TableCaption>
      <TableHeader>
        <TableRow>
          <TableHead>Día</TableHead>
          <TableHead>Tema</TableHead>
          <TableHead>Profesor</TableHead>
          <TableHead className="text-center">Material</TableHead>
        </TableRow>
      </TableHeader>
      <TableBody>
        {
          itinerarioAvanzado.map((dia) => (
            <TableRow>
              <TableCell>{dia.dia}</TableCell>
              <TableCell>{dia.tema}</TableCell>
              <TableCell>{dia.profesor}</TableCell>
              <TableCell className="text-center">
                {dia.material && dia.material.length > 0 && (
                  <MaterialList files={dia.material} />
                )}
              </TableCell>
            </TableRow>
          ))
        }
      </TableBody>
    </Table>
  </div>
</Page>
