---
import Page from "@/layouts/Page.astro";
import { Image } from "astro:assets";

import synopsysLogo from "@/assets/synopsys-logo.svg";
import nicChileLogo from "@/assets/Nic-chile.png";
import huaweiLogo from "../../../public/Huawei.svg";
import jetbrainsLogo from "../../../public/JetBrains.svg";
import agendaproLogo from "../../../public/logoagendapro.png";
import itauLogo from "../../../public/logoitau.png";
import buklogo from "../../../public/logobuk.png";
import logoNubank from "@/assets/Nubank_logo.png";
import MTIG from "@/assets/MTIG.png";
import mindfree from "@/assetsMindfree.jpg";
import plat from "@/assets/platinum.png";
import diamond from "@/assets/diamond.png";
import gold from "@/assets/gold.png";
import silver from "@/assets/silver.png";
import bronze from "@/assets/bronze.png";
---

<Page title="Sponsors">
  <h2 class="text-center">Sponsors</h2>
  <p class="text-center">
    We thank our sponsors for making this event possible.
  </p>

  <!-- Jetbrains -->
  <div
    class="flex flex-col md:flex-row items-center gap-4 md:gap-8 max-w-4xl"
  >
  <div class="flex flex-col items-center text-center gap-3">
    <a
      href="https://www.jetbrains.com/icpc/?utm_campaign=sponsor&utm_medium=email&utm_source=icpc"
      target="_blank"
      rel="noopener"
      class="bg-white dark:bg-white/50 rounded-xl shadow p-6 flex items-center justify-center w-64 h-32 border transition-transform hover:scale-105"
    >
      <Image
        src={jetbrainsLogo}
        alt="JetBrains logo"
        class="max-h-24 max-w-full object-contain"
        height={96}
      />
    </a>
    <Image
        src={diamond}
        alt="Diamond Sponsor"
        class="max-h-40 max-w-full object-contain"
        height={96}
      />
    </div>
    <p class="text-lg max-w-md mt-0">
      <strong>JetBrains, ICPC Global Sponsor Programming Tools,</strong> is a global software company that creates professional 
      software development tools and advanced collaboration solutions trusted by more than 
      15 million users worldwide. Since 2000, we have built a product catalog that covers 
      all stages of the software development cycle, major technologies, programming 
      languages, and educational processes. 
      As developers of the Kotlin programming language and creators of professional development 
      products like IntelliJ IDEA, CLion, and PyCharm, as well as educational tools that help 
      people learn and teach computer programming, we are dedicated to supporting individuals 
      throughout their software development journeys. Sponsoring ICPC has special significance 
      for JetBrains and aligns with our commitment to nurturing promising young talent and 
      working with the brightest minds.
    </p>
  </div>

  <!-- Huawei -->
  <div
    class="flex flex-col md:flex-row-reverse items-center gap-4 md:gap-8 max-w-4xl mt-16"
  >
  <div class="flex flex-col items-center text-center gap-3">
    <a
      href="https://career.huawei.com/reccampportal/portal5/index.html"
      target="_blank"
      rel="noopener"
      class="bg-white dark:bg-white/50 rounded-xl shadow p-6 flex items-center justify-center w-64 h-32 border transition-transform hover:scale-105"
    >
      <Image
        src={huaweiLogo}
        alt="Huawei logo"
        class="max-h-24 max-w-full object-contain"
        height={96}
      />
    </a>
    <Image
        src={diamond}
        alt="Diamond Sponsor"
        class="max-h-40 max-w-full object-contain"
        height={96}
      />
    </div>
    <p class="text-lg max-w-md mt-0">
      <strong>Huawei, ICPC Diamond Multi-Regional Sponsor,</strong> a leading global provider of information and communications 
      technology infrastructure and smart devices. With more than 207,000 employees and 
      operating in more than 170 countries and regions, Huawei’s vision and mission is to 
      bring digital to every person, home and organization for a fully connected, intelligent 
      world. Huawei is constantly exploring future innovations and is welcoming you to join the 
      team to discover more challenging topics in your region.
    </p>
  </div>

  <!-- Nubank -->
  <div
    class="flex flex-col md:flex-row items-center gap-4 md:gap-8 max-w-4xl"
  >
  <div class="flex flex-col items-center text-center gap-3">
    <a
      href="https://nubank.com.br/"
      target="_blank"
      rel="noopener"
      class="bg-white dark:bg-white/50 rounded-xl shadow p-6 flex items-center justify-center w-64 h-32 border transition-transform hover:scale-105"
    >
      <Image
        src={logoNubank}
        alt="Nu Bank logo"
        class="max-h-16 max-w-full object-contain"
        height={96}
      />
    </a>

    <Image
        src={plat}
        alt="Platinum Sponsor"
        class="max-h-40 max-w-full object-contain"
        height={96}
      />
      </div>
    <p class="text-lg max-w-md mt-0">
      <strong>Nu Bank</strong> is one of the world’s largest digital financial services platforms, 
      serving 127 million customers in Brazil, Mexico, and Colombia. The company has spearheaded an 
      industry transformation by leveraging data and proprietary technology to develop innovative products 
      and services. Guided by its mission to combat complexity and empower people, Nu supports customers 
      throughout their entire financial journey, promoting financial access and advancement through responsible 
      lending practices and transparency.
    </p>
  </div>

  <!-- AgendaPro -->
  <div
    class="flex flex-col md:flex-row-reverse items-center gap-4 md:gap-8 max-w-4xl"
  >
  <div class="flex flex-col items-center text-center gap-3">
    <a
      href="https://agendapro.com/cl"
      target="_blank"
      rel="noopener"
      class="bg-white dark:bg-white/50 rounded-xl shadow p-6 flex items-center justify-center w-64 h-32 border transition-transform hover:scale-105"
    >
      <Image
        src={agendaproLogo}
        alt="AgendaPro logo"
        class="max-h-20 max-w-full object-contain"
        height={96}
      />
    </a>
    <Image
        src={gold}
        alt="Gold Sponsor"
        class="max-h-40 max-w-full object-contain"
        height={96}
      />
    </div>
    <p class="text-lg max-w-md mt-0">
      <strong>AgendaPro</strong> is a comprehensive management platform designed for beauty, 
      health, spa, and wellness businesses, allowing you to schedule appointments, manage 
      clients, control inventory, automate marketing, and process payments, all from a 
      single intuitive tool to professionalize and grow your business. It is an all-in-one 
      software that centralizes operations, helping to reduce absences, improve customer 
      retention, and optimize finances.
    </p>
  </div>

  <!-- Itaú -->
  <div
    class="flex flex-col md:flex-row items-center gap-4 md:gap-8 max-w-4xl mt-16"
  >
  <div class="flex flex-col items-center text-center gap-3">
    <a
      href="https://www.itau.cl/personas"
      target="_blank"
      rel="noopener"
      class="bg-white dark:bg-white/50 rounded-xl shadow p-6 flex items-center justify-center w-64 h-32 border transition-transform hover:scale-105"
    >
      <Image
        src={itauLogo}
        alt="Itaú logo"
        class="max-h-24 max-w-full object-contain"
        height={96}
      />
    </a>
    <Image
        src={silver}
        alt="Silver Sponsor"
        class="max-h-40 max-w-full object-contain"
        height={96}
      />
    </div>
    <p class="text-lg max-w-md mt-0">
      <strong>Itaú</strong> is a leading financial institution in Latin America, a 
      subsidiary of the Brazilian group Itaú Unibanco, the largest private bank in 
      the region, operating in several countries such as Chile, Colombia, and Panama, 
      offering universal banking products and services, from personal to corporate banking, 
      with a strong focus on sustainability and customer satisfaction. It stands out in 
      Chile for its merger with Corpbanca and its digital offering, such as the itu account.
    </p>
  </div>

  <!-- BUK Chile -->
  <div
    class="flex flex-col md:flex-row-reverse items-center gap-4 md:gap-8 max-w-4xl"
  >
  <div class="flex flex-col items-center text-center gap-3">
    <a
      href="https://www.buk.cl/"
      target="_blank"
      rel="noopener"
      class="bg-white dark:bg-white/50 rounded-xl shadow p-6 flex items-center justify-center w-64 h-32 border transition-transform hover:scale-105"
    >
      <Image
        src={buklogo}
        alt="Buk logo"
        class="max-h-24 max-w-full object-contain"
        height={96}
      />
    </a>
    <Image
        src={silver}
        alt="Silver Sponsor"
        class="max-h-40 max-w-full object-contain"
        height={96}
      />
    </div>
    <p class="text-lg max-w-md mt-0">
      <strong>Buk</strong> is a comprehensive human resources (HR) management 
      software platform that centralizes, digitizes, and automates the entire 
      employee lifecycle in a company, from payroll and attendance to professional 
      development, enabling organizations to efficiently manage their personnel 
      processes, ensure legal compliance, and improve the employee experience.
    </p>
  </div>
  
  <!-- Synopsys -->
  <div
    class="flex flex-col md:flex-row items-center gap-4 md:gap-8 max-w-4xl mt-16 margin-bottom:10px"
  >
  <div class="flex flex-col items-center text-center gap-3">
    <a
      href="https://www.synopsys.com/"
      target="_blank"
      rel="noopener"
      class="bg-white dark:bg-white/50 rounded-xl shadow p-6 flex items-center justify-center w-64 h-32 border transition-transform hover:scale-105"
    >
      <Image
        src={synopsysLogo}
        alt="Synopsys logo"
        class="max-h-24 max-w-full object-contain"
        height={96}
      />
    </a>
    <Image
        src={silver}
        alt="Silver Sponsor"
        class="max-h-40 max-w-full object-contain"
        height={96}
      />
    </div>
    <p class="text-lg max-w-md mt-0">
      <strong>Synopsys</strong> is a global leader in software and tools for designing
      advanced chips and systems, powering innovation in electronics, AI, and connected
      technologies.
    </p>
  </div>

  <!-- NIC Chile -->
  <div
    class="flex flex-col md:flex-row-reverse items-center gap-4 md:gap-8 max-w-4xl"
  >
  <div class="flex flex-col items-center text-center gap-3">
    <a
      href="https://www.nic.cl/"
      target="_blank"
      rel="noopener"
      class="bg-white dark:bg-white/50 rounded-xl shadow p-6 flex items-center justify-center w-64 h-32 border transition-transform hover:scale-105"
    >
      <Image
        src={nicChileLogo}
        alt="NIC Chile logo"
        class="max-h-24 max-w-full object-contain"
        height={96}
      />
    </a>
    <Image
        src={bronze}
        alt="Bronze Sponsor"
        class="max-h-40 max-w-full object-contain"
        height={96}
      />
    </div>
    <p class="text-lg max-w-md mt-0">
      <strong>NIC Chile</strong> manages the .CL domain, ensuring reliable and secure
      internet operations in Chile as part of the University of Chile.
    </p>
  </div>

  <!-- MTIG -->
  <div
    class="flex flex-col md:flex-row items-center gap-4 md:gap-8 max-w-4xl mt-16 margin-bottom:10px"
  >
  <div class="flex flex-col items-center text-center gap-3">
    <a
      href="https://mtig.uc.cl/"
      target="_blank"
      rel="noopener"
      class="bg-white dark:bg-white/50 rounded-xl shadow p-6 flex items-center justify-center w-64 h-32 border transition-transform hover:scale-105"
    >
      <Image
        src={MTIG}
        alt="MTIG logo"
        class="max-h-24 max-w-full object-contain"
        height={96}
      />
    </a>
    <Image
        src={bronze}
        alt="Bronze Sponsor"
        class="max-h-40 max-w-full object-contain"
        height={96}
      />
    </div>
    <p class="text-lg max-w-md mt-0">
      <strong>The MTIG program</strong> aims to provide solid, specialized technological knowledge while 
      simultaneously situating it within the context of its application as a means to improve a company's 
      competitive position and launch new businesses. The program's unique combination of management and 
      technology is designed to produce leaders who can gain a competitive edge by maximizing the use of 
      available technology across various development areas.
    </p>
  </div>

  <!-- Mindfree -->
  <div
    class="flex flex-col md:flex-row-reverse items-center gap-4 md:gap-8 max-w-4xl"
  >
  <div class="flex flex-col items-center text-center gap-3">
    <a
      href="https://mindfree.cl/"
      target="_blank"
      rel="noopener"
      class="bg-white dark:bg-white/50 rounded-xl shadow p-6 flex items-center justify-center w-64 h-32 border transition-transform hover:scale-105"
    >
      <Image
        src={mindfree}
        alt="Mindfree logo"
        class="max-h-24 max-w-full object-contain"
        height={96}
      />
    </a>
    <Image
        src={bronze}
        alt="Bronze Sponsor"
        class="max-h-40 max-w-full object-contain"
        height={96}
      />
    </div>
    <p class="text-lg max-w-md mt-0">
      <strong>At Mindfree</strong> we are experts in the development of technological 
      solutions geared towards the educational sector and market leaders in the 
      administration and support of high-concurrency Moodle platforms.
    </p>
  </div>

</Page>
