---
interface Props {
  variant?: "default" | "home";
}
const { variant = "default" } = Astro.props;

import React from "react";
import { Image } from "astro:assets";
import logoDefault from "../assets/logo.svg";
import logoSmallDefault from "../assets/logo-small.svg";
import logoDark from "../assets/logo-dark.svg";
import logoSmallDark from "../assets/logo-small-dark.svg";
import { MobileNav } from "./MobileNav";
import { DesktopNav } from "./DesktopNav";
import { ModeToggle } from "@/components/ModeToggle";

const headerClasses = {
  default: "bg-gray-50 dark:bg-gray-900 shadow-md",
  home: "bg-black/10 backdrop-filter backdrop-blur",
}[variant];

const logo = variant == "default" ? logoDefault : logoDark;
const logoSmall = variant == "default" ? logoSmallDefault : logoSmallDark;

const currentPath = Astro.url.pathname;
const navItemsData = [
  { label: "inicio", href: "/" },
  { label: "acerca", href: "/acerca" },
  { label: "cronograma", href: "/cronograma" },
  { label: "patrocinadores", href: "/patrocinadores" },
  { label: "código de conducta", href: "/codigo-de-conducta" },
];

const navItems = navItemsData.map((item) => ({
  ...item,
  isActive: item.href === currentPath,
}));
---

<header
  class:list={[
    "fixed top-0 w-[100%] h-[var(--header-height)]",
    "flex items-center justify-between px-4 py-2",
    "border-solid z-10",
    headerClasses,
  ]}
>
  {/* Logo */}
  <div id="header-logo" class="flex-1 basis-0">
    <a href="/">
      <div class="hidden lg:block">
        <Image src={logo} height="64" alt="Logo CIPC" />
      </div>
      <div class="block lg:hidden">
        <Image src={logoSmall} height="64" alt="Logo CIPC" />
      </div>
    </a>
  </div>

  {/* Header center, desktop nav */}
  <DesktopNav client:load navItems={navItems} variant={variant} />

  {/* Header right side */}
  <div
    id="header-right"
    class="flex flex-1 basis-0 justify-end items-center gap-2"
  >
    {variant !== "home" && <ModeToggle client:visible />}

    {/* Mobile navigation trigger */}
    <nav class="lg:hidden">
      <MobileNav client:load navItems={navItems} variant={variant} />
    </nav>
  </div>
</header>
